*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
    width: 100vw    ;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    max-width: 260px;
    background-color: rgb(179, 175, 175);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(107, 97, 97);
}
h1{
    display: inline;
    display: flex;
    justify-content: center;
}
div{
    width: 100%;
    height: 40px;
    background-color: white;
    margin: 10px 0px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    font-size: 1.5em;
}
table{
    text-align: center;
    & tr{
        background-color: gray;
        & td{
            font-size: 1.2em;
            padding: 15px 20px;
            transition: .2s ;
            cursor: pointer;
            &:hover{
                background-color: rgb(103, 103, 105);
            }
            &:active{
                background-color: rgba(0, 0, 0, 0.342);
                color: white;
            }
        }
    }
}